version: '3.8'

services:
  nginx:
    build: ./nginx/
    container_name: nginx
    restart: always
    ports:
      - 443:443
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception
    depends_on:
      - wordpress

#############################################
  mariadb:
    build: ./mariadb
    container_name: mariadb
    restart: always
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - inception
    env_file:
            - ../.env
    expose:
      - "3306"


#############################################

  wordpress:
    build: ./wordpress
    container_name: wordpress
    restart: always
    env_file:
            - ../.env
    volumes:
       - wordpress_data:/var/www/html
    networks:
      - inception
    depends_on:
      - mariadb
    expose:
      - "9000"


#############################################
volumes:
  mariadb_data:
  wordpress_data:

networks:
  inception:
    driver: bridge



# The volumes is used to :
# WordPress wite data to /var/www/html
# Nginx read data from /var/www/html
# So both containers need to share the same volume
# mariadb_data is used to persist database data